
  <!-- Slider start -->
<div class="region-setion-main">
<!-- Slider start -->
<div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <!-- Slide 1 -->
        <div class="carousel-item" style="position: relative; height:400px; overflow: hidden;" data-bs-interval="3000">
            <img src="{{ file_url('public://Errachidia4.jpg') }}" class="d-block w-100" alt="Image 1" style="width: 100%; height: 100%; object-fit: cover; object-position: center 80%;">
            <div class="carousel-caption d-flex justify-content-center align-items-center text-center" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;">
                <h2 class="anim-typewriter" style="color: #fff; font-size: 3rem;">Errachidia, Destination Mythique</h2>
            </div>
        </div>

             <div class="carousel-item" style="position: relative; height:400px; overflow: hidden;" data-bs-interval="3000">
            <img src="{{ file_url('public://erra1.jpg') }}" class="d-block w-100" alt="Image 1" style="width: 100%; height: 100%; object-fit: cover; object-position: center 80%;">
            <div class="carousel-caption d-flex justify-content-center align-items-center text-center" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;">
                <h2 class="anim-typewriter" style="color: #fff; font-size: 3rem;">Errachidia, Destination Mythique</h2>
            </div>
        </div>


        <!-- Slide 2 -->
        <div class="carousel-item active" style="position: relative; height:400px; overflow: hidden;" data-bs-interval="3000">
            <img src="{{ file_url('public://Errachidia2.jpg') }}" class="d-block w-100" alt="Image 2" style="width: 100%; height: 100%; object-fit: cover;">
            <div class="carousel-caption d-flex justify-content-center align-items-center text-center" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;">
                <h2 class="anim-typewriter" style="color: #fff; font-size: 3rem;">Errachidia, Destination Mythique</h2>
            </div>
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item" style="position: relative; height:400px; overflow: hidden;" data-bs-interval="3000">
            <img src="{{ file_url('public://Errachidia3.jpg') }}" class="d-block w-100" alt="Image 3" style="width: 100%; height: 100%; object-fit: cover;">
            <div class="carousel-caption d-flex justify-content-center align-items-center text-center" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;">
                <h2 class="anim-typewriter" style="color: #fff; font-size: 3rem;">Errachidia, Destination Mythique</h2>
            </div>
        </div>
    </div>

    <!-- Contrôles -->
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Précédent</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Suivant</span>
    </button>
</div>
<!-- Slider end -->

  <!-- Slider end -->
<div class="container">
   <div class="row gx-2 ">
      <div class="col-lg-9 mt-4">
         <p>Errachidia anciennement Ksar Es-Souk ou "Imtaghren" en tamazight, est une ville du Maroc, chef-lieu de la province d'Errachidia, dans la région de Drâa Tafilalet.</p>
         <h3 class="mt-4">Géographie</h3>
         <p>Errachidia est située sur l'oued Ziz, au nord de la province d'Errachidia. La variété de dattes medjoul provient originellement des palmeraies de la région.</p>

          <h3 class="mt-4">Toponymie</h3>
         <p>Autrefois appelée « Ksar Es-Souk » en arabe et Imetgharen en berbère, la ville fut rebaptisée Er Rachidiya vers 1975 en l'honneur du fils cadet de Hassan II, Moulay Rachid. Elle fait partie des villes où les Alaoui (famille royale) se sont installés. Un très grand nombre des Alaoui vivent toujours dans cette cité.</p>
      
            <h3 class="mt-4">Population et Démographie</h3>

            <h5 class="mt-3 ">Evolution de la population de la Région Drâa-Tafilalet</h5>

            <table class="table table-bordered text-center">
  <thead class="table-danger">
    <tr>
      <th rowspan="2" style="vertical-align: middle;">Région</th>
      <th colspan="3">Population</th>
      <th colspan="3">Poids (en %)</th>
      <th rowspan="2" style="vertical-align: middle;">TAAM (%)</th>
    </tr>
    <tr>
      <th>2014</th>
      <th>2020</th>
      <th>2030</th>
      <th>2014</th>
      <th>2020</th>
      <th>2030</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Draa-Tafilalet</td>
      <td>1 632 418</td>
      <td>1 693 786</td>
      <td>1 773 240</td>
      <td>4,8</td>
      <td>4,7</td>
      <td>4,4</td>
      <td style="color: red;">1,36</td>
    </tr>
    <tr>
      <td>Maroc</td>
      <td>33 769 512</td>
      <td>35 951 657</td>
      <td>39 329 985</td>
      <td>100,0</td>
      <td>100,0</td>
      <td>100,0</td>
      <td>0,96</td>
    </tr>
  </tbody>
</table>


<h5 class="mt-3 ">Evolution de la population par provinces et préfectures</h5>

<table class="table table-bordered text-center">
  <thead class="table-warning">
    <tr>
      <th rowspan="2" style="vertical-align: middle;">Province/Préfecture</th>
      <th colspan="17">Années</th>
    </tr>
    <tr>

      <th>2020</th>
      <th>2021</th>
      <th>2022</th>
      <th>2023</th>
      <th>2024</th>
      <th>2025</th>
      <th>2026</th>
      <th>2027</th>
      <th>2028</th>
      <th>2029</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Errachidia</td>

      <td>424 458</td>
      <td>425 250</td>
      <td>425 920</td>
      <td>426 470</td>
      <td>426 901</td>
      <td>427 218</td>
      <td>427 506</td>
      <td>427 463</td>
      <td>427 287</td>
      <td>426 969</td>
    </tr>
    <tr>
      <td>Midelt</td>
     
      <td>305 520</td>
      <td>307 732</td>
      <td>309 870</td>
      <td>311 941</td>
      <td>313 944</td>
      <td>315 880</td>
      <td>317 742</td>
      <td>319 523</td>
      <td>321 219</td>
      <td>322 821</td>
    </tr>
    <tr>
      <td>Ouarzazate</td>
     
      <td>310 813</td>
      <td>313 127</td>
      <td>317 667</td>
      <td>319 892</td>
      <td>322 092</td>
      <td>324 306</td>
      <td>326 399</td>
      <td>328 496</td>
      <td>330 543</td>
      <td>332 535</td>
    </tr>
    <tr>
      <td>Tinghir</td>
     
      <td>339 695</td>
      <td>342 556</td>
      <td>345 347</td>
      <td>348 067</td>
      <td>350 719</td>
      <td>353 307</td>
      <td>355 833</td>
      <td>358 298</td>
      <td>360 672</td>
      <td>365 204</td>
    </tr>
    <tr>
      <td>Zagora</td>
     
      <td>315 578</td>
      <td>318 116</td>
      <td>319 283</td>
      <td>320 386</td>
      <td>321 431</td>
      <td>322 415</td>
      <td>323 340</td>
      <td>324 200</td>
      <td>325 091</td>
      <td>325 711</td>
    </tr>
    <tr class="fw-bold">
      <td style="color: red;">Drâa-Tafilalet</td>
     
      <td>1 693 786</td>
      <td>1 703 334</td>
      <td>1 712 357</td>
      <td>1 723 839</td>
      <td>1 732 992</td>
      <td>1 741 428</td>
      <td>1 750 000</td>
      <td>1 758 780</td>
      <td>1 767 020</td>
      <td>1 773 240</td>
    </tr>
    <tr class="table-warning">
      <td>Maroc Total</td>
     
      <td>35 951 657</td>
      <td>36 313 189</td>
      <td>36 670 216</td>
      <td>37 022 885</td>
      <td>37 369 652</td>
      <td>37 712 153</td>
      <td>38 049 577</td>
      <td>38 381 174</td>
      <td>38 705 839</td>
      <td>39 329 985</td>
    </tr>
  </tbody>
</table>

<h3>Accès</h3>

<p>La ville d'Errachidia est desservie par voie routière à travers la route nationale 10. La ville dispose aussi d'un aéroport qui dessert Casablanca. La ville est découpée en plusieurs zones urbaines sous forme de quartiers. Les quartiers d'Errachidia sont les suivants :
</p>

<ul class="list-group list-group-flush">


  <li class="list-group-item">Centre-ville</li>
  <li class="list-group-item">Ain El Ati 1</li>
  <li class="list-group-item">Ain El Ati 2</li>
  <li class="list-group-item">Lahdeb</li>
  <li class="list-group-item">Oued Eddahab</li>
  <li class="list-group-item">Al Qods</li>
  <li class="list-group-item">Cité Amjjoj</li>
  <li class="list-group-item">Targa Al Jdida (Nouvelle Targa)</li>
  <li class="list-group-item">Targa Al Qadima (Ancienne Targa)</li>
  <li class="list-group-item">Labita</li>
  <li class="list-group-item">El Mouhite</li>
  <li class="list-group-item">Boutalamine</li>
  <li class="list-group-item">Boutalamine Jdid (Villate, quartier résidentiel)</li>
  <li class="list-group-item">Azzemour Al Jadid (Nouveau Azzemour)</li>
  <li class="list-group-item">Azzemour Al Qadim (Ancien Azzemour)</li>
  <li class="list-group-item">Ouled El Hadj</li>
  <li class="list-group-item">Aït Ba Mouha</li>
  <li class="list-group-item">Aït Ibrahim</li>
  <li class="list-group-item">Ksar Ingbi</li>
  <li class="list-group-item">El Waha</li>
  <li class="list-group-item">El Inara</li>
  <li class="list-group-item">Lot. Moulay Ali Cherif</li>
  <li class="list-group-item">eryad</li>
  <li class="list-group-item">Lot. Aït Khlifa</li>
  <li class="list-group-item">Touchka</li>
  <li class="list-group-item">L'oued lahmer</li>
</ul>

<h3 class="mt-4">Que manger à Errachidia</h3>
<p>
L’art culinaire de la province d’Errachidia puise dans les produits agricoles locaux et se base souvent sur les viandes. L’élevage de bétail aidant, car largement pratiqué par les nomades dans les vallées et le désert du Tafilalet</p>

<p class="mt-2"><strong> Madfouna :</strong> ce pain farci à un mélange de petits dés de viande, d’œufs durs, d’amandes, d’oignons et d’épices (sel, cumin, gingembre et parfois piment) . Disponible sur commande chez le boucher dans le souk populaire de la ville chez qui on vous recommande de choisir vous-même votre viande. Un jeune garçon achemine les ingrédients en bicyclette au four du quartier et revient une heure plus tard avec le pain farci chaud emballé dans un carton et prêt à être savouré. </p>
<img src="{{ file_url('public://Madfouna-de-Tafilalet.webp') }}" style="height: 400px;width:400px;
    object-fit: cover;
    margin: 20px 0;
    border-radius: 3%;" alt="">
<p class="mt-2"><strong>Le Méchoui :</strong> préparé à base d’une chèvre ou d’un mouton entier, le méchoui sahraoui nécessite 3 à 4 h de cuisson dans le four traditionnel d’argile (Koucha). Il est cuit dans les parois du four chauffé de bois et de feuilles de palmier. </p>
<img src="{{ file_url('public://mechoui-alley.jpg') }}" style="height: 400px;width:400px;
    object-fit: cover;
    margin: 20px 0;
    border-radius: 3%;" alt="">
<p class="mt-2"><strong>La Harira Warguia ou soupe Filalia :</strong> préparée habituellement par les habitants pauvres des Ksours du Grand Tafilalet, cette soupe est cuisinée à la roquette, au navet, à la viande et aux épices. Elle est l’équivalent de la Aassida à la semoule de maïs, soupe nutritive consommée par les Berbères de la région du Souss et dans les montagnes de l’Atlas. </p>
<img src="{{ file_url('public://harira.jpg') }}" style="height: 400px;width:400px;
    object-fit: cover;
    margin: 20px 0;
    border-radius: 3%;" alt="">
<p class="mt-2"><strong>Pain de Tafernout :</strong> Ce pain, qu’on retrouve dans toute la région Sud, est cuit soit dans le four traditionnel (Koucha) ou dans le sable chaud à 50°. Celui-ci est chauffé au bois et aux pierres chaudes.</p>
<img src="{{ file_url('public://pain-tafarnout.jpg') }}" style="height: 400px;width:400px;
    object-fit: cover;
    margin: 20px 0;
    border-radius: 3%;" alt="">

<p><strong>Tajine de Gombos (Mloukhia) :</strong>  Ce tajine de viande de bœuf ou d’agneau est assaisonné essentiellement par les gombos. Ce légume exotique connu en Afrique du Nord et au Moyen-Orient devient après cuisson doté d’une texture visqueuse et gélatineuse. Plat nourrissant et savoureux, le tajine de Gombos est disponible en printemps été du fait des exigences de culture du légume. </p>
      <img src="{{ file_url('public://tajine-viande-coings-gombos.jpg') }}" style="height: 400px;width:400px;
    object-fit: cover;
    margin: 20px 0;
    border-radius: 3%;" alt="">
      </div>
      <div class="col-lg-3 mt-4">
         <h3>Découvrir aussi :</h3>
         <a href="{{ base_path }}/portail/regions/zagora" class="announcement-card gap-1">
            <img src="{{ file_url('public://zagora.png') }}" style="height:80px;width:120px;object-fit:cover ;border-top-left-radius:10%;border-bottom-left-radius:10%;" alt="img">
            <h6 class="text-black">Zagora</h6>
         </a>
         <a href="{{ base_path }}/portail/regions/midelt" class="announcement-card gap-1">
            <img src="{{ file_url('public://midelt.png') }}" style="height:80px;width:120px;object-fit:cover ;border-top-left-radius:10%;border-bottom-left-radius:10%;" alt="img">
            <h6 class="text-black">Midelt</h6>
         </a>
         <a href="{{ base_path }}/portail/regions/tinghir" class="announcement-card gap-1">
            <img src="{{ file_url('public://tinghir.png') }}" style="height:80px;width:120px;object-fit:cover ;border-top-left-radius:10%;border-bottom-left-radius:10%;" alt="img">
            <h6 class="text-black">Tinghir</h6>
         </a>
         <a href="{{ base_path }}/portail/regions/ouarzazate" class="announcement-card gap-1">
            <img src="{{ file_url('public://ouarzazate.png') }}" style="height:80px;width:120px;object-fit:cover ;border-top-left-radius:10%;border-bottom-left-radius:10%;" alt="img">
            <h6 class="text-black">Ouarzazate</h6>
         </a>
             <div class="w-100">
            <img src="{{ file_url('public://Errachidia-Interactive-Map.svg') }}" alt="" style=" height: 100%; object-fit: cover; object-position: center 80%;     width: -webkit-fill-available;">
     </div>
        </div>
   </div>
</div>

</div>