{{page.topheader}}
{{page.mainheader}}
<h5 class="text-orange mb-4 text-center  p-5 section-demarche">Touristique
</h5>
<div class="container mt-4 infrastructure">
   <div class="row g-3">
      <!-- Image 1 -->
      <!-- Image 2 -->
      <div class="col-md-4 ">
         <div class="gallery-item">
            <img src="{{ file_url('public://ksar.jpg') }}" class="img-fluid rounded shadow-sm" data-bs-toggle="modal" data-bs-target="#imageModal" onclick="openModal('{{ file_url('public://ksar.jpg') }}')">
         </div>
         <h5 class="text-center mt-2">Ksar</h5>
      </div>
      <!-- Image 3 -->
      <div class="col-md-4">
         <div class="gallery-item">
            <img src="{{ file_url('public://gorges.jpg') }}" class="img-fluid rounded shadow-sm" data-bs-toggle="modal" data-bs-target="#imageModal" onclick="openModal('{{ file_url('public://gorges.jpg') }}')">
         </div>
         <h5 class="text-center mt-2">Gorges de Toudra</h5>
      </div>
      <div class="col-md-4">
         <div class="gallery-item">
            <img src="{{ file_url('public://ksar2.webp') }}" class="img-fluid rounded shadow-sm" data-bs-toggle="modal" data-bs-target="#imageModal" onclick="openModal('{{ file_url('public://ksar2.webp') }}')">
         </div>
         <h5 class="text-center mt-2">Ksar Tissergate
</h5>
      </div>
      <div class="col-md-4">
         <div class="gallery-item">
            <img src="{{ file_url('public://ksor.jpg') }}" class="img-fluid rounded shadow-sm" data-bs-toggle="modal" data-bs-target="#imageModal" onclick="openModal('{{ file_url('public://ksor.jpg') }}')">
         </div>
         <h5 class="text-center mt-2">Ksor Tafilalet</h5>
      </div>
      <div class="col-md-4">
         <div class="gallery-item">
            <img src="{{ file_url('public://dame_atlas.jpg') }}" class="img-fluid rounded shadow-sm" data-bs-toggle="modal" data-bs-target="#imageModal" onclick="openModal('{{ file_url('public://dame_atlas.jpg') }}')">
         </div>
         <h5 class="text-center mt-2">Dame Atlas</h5>
      </div>

        <div class="col-md-4">
         <div class="gallery-item">
            <img src="{{ file_url('public://meski.jpg') }}" class="img-fluid rounded shadow-sm" data-bs-toggle="modal" data-bs-target="#imageModal" onclick="openModal('{{ file_url('public://meski.jpg') }}')">
         </div>
         <h5 class="text-center mt-2">Source bleu Meski</h5>
      </div>

   <div class="col-md-4">
         <div class="gallery-item">
            <img src="{{ file_url('public://ayachi.jpeg') }}" class="img-fluid rounded shadow-sm" data-bs-toggle="modal" data-bs-target="#imageModal" onclick="openModal('{{ file_url('public://ayachi.jpeg') }}')">
         </div>
         <h5 class="text-center mt-2">Jbel Ayachi</h5>
      </div>


   <div class="col-md-4">
         <div class="gallery-item">
            <img src="{{ file_url('public://station.jpeg') }}" class="img-fluid rounded shadow-sm" data-bs-toggle="modal" data-bs-target="#imageModal" onclick="openModal('{{ file_url('public://station.jpeg') }}')">
         </div>
         <h5 class="text-center mt-2">Station Hills Have Eyes
</h5>
      </div>

   <div class="col-md-4">
         <div class="gallery-item">
            <img src="{{ file_url('public://escalier.jpg') }}" class="img-fluid rounded shadow-sm" data-bs-toggle="modal" data-bs-target="#imageModal" onclick="openModal('{{ file_url('public://escalier.jpg') }}')">
         </div>
         <h5 class="text-center mt-2">L’escalier Céleste
</h5>
      </div>


        <div class="col-md-4">
         <div class="gallery-item">
            <img src="{{ file_url('public://merzouga.jpg') }}" class="img-fluid rounded shadow-sm" data-bs-toggle="modal" data-bs-target="#imageModal" onclick="openModal('{{ file_url('public://merzouga.jpg') }}')">
         </div>
         <h5 class="text-center mt-2">Les Dunes de Merzouga
</h5>
      </div>

         <div class="col-md-4">
         <div class="gallery-item">
            <img src="{{ file_url('public://valleziz.jpg') }}" class="img-fluid rounded shadow-sm" data-bs-toggle="modal" data-bs-target="#imageModal" onclick="openModal('{{ file_url('public://valleziz.jpg') }}')">
         </div>
         <h5 class="text-center mt-2">La Vallée du Ziz
</h5>
      </div>


   </div>
</div>

<!-- Modal -->
<div class="modal fade" id="imageModal" tabindex="-1" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
         <div class="modal-body text-center mt-2">
            <img id="modalImage" class="img-fluid rounded" width="100%" height="100%">
         </div>
      </div>
   </div>
</div>
{{page.footer}}