
{{page.topheader}}
{{page.mainheader}}
<h2 class="text-orange mb-4 text-center p-5 section-demarche">Démarches administarive</h2>

<div class="container demarch">

  <div class="row row-cols-lg-4 g-3"> <!-- row-cols-lg-4 katgoulih dli f chaque ligne dli 4 éléments -->
         <div class="col box-demarche d-flex flex-column justify-content-center align-items-center">
          <a href="{{ base_path }}/portail/procedure_administrative/etat_civil" >
            <img src="{{ directory }}/images/02.png" alt="">
            <h5 class="mt-2">L'état civil</h5>  
            </a>      
        </div>
         <div class="col box-demarche d-flex flex-column justify-content-center align-items-center">
         <a href="{{ base_path }}/portail/">
            <img src="{{ directory }}/images/05.png" alt="">
            <h5 class="mt-2">Police administrative</h5>        
        </a>
        </div>
         <div class="col box-demarche d-flex flex-column justify-content-center align-items-center">
         <a href="{{ base_path }}/portail/">
            <img src="{{ directory }}/images/03.png" alt="">
            <h5 class="mt-2">Travaux de construction</h5>        
        </a>
        </div>
         <div class="col box-demarche d-flex flex-column justify-content-center align-items-center">
         <a href="{{ base_path }}/portail/">
            <img src="{{ directory }}/images/005.png" alt="">
            <h5 class="mt-2">Affaires Sanitaires</h5>        
        </a>
        </div>

        
           <div class="col box-demarche d-flex flex-column justify-content-center align-items-center">
           <a href="{{ base_path }}/portail/">
            <img src="{{ directory }}/images/Immigration.png" alt="">
            <h5 class="mt-2">Étrangers et Marocains résidant à l'étranger
</h5>        
        </a>
        </div>
           <div class="col box-demarche d-flex flex-column justify-content-center align-items-center">
           <a href="{{ base_path }}/portail/">
            <img src="{{ directory }}/images/paper.png" alt="">
            <h5 class="mt-2">Affaires culturelles
</h5>        
        </a>
        </div>
           <div class="col box-demarche d-flex flex-column justify-content-center align-items-center">
           <a href="{{ base_path }}/portail/">
            <img src="{{ directory }}/images/sport.png" alt="">
            <h5 class="mt-2">affaires sportives</h5>        
        </a>
        </div>
           <div class="col box-demarche d-flex flex-column justify-content-center align-items-center">
           <a href="{{ base_path }}/portail/">
            <img src="{{ directory }}/images/xxs.png" alt="">
            <h5 class="mt-2">Propriétés collectives
</h5>        
        </a>
        </div>
  </div>
</div>

{{page.footer}}
