<div class="container">
   <div class="row gx-1 paddingtop-content">
    <div class="col-lg-9">
<h2 class="fw-bold  mb-5 ">Autorisation de lotir ou de morceler



</h2>

<div class="accordion" id="accordionPanelsStayOpenExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="fw-semibold accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
        Quels sont les documents requis pour la candidature ?
      </button>
    </h2>
    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
      <div class="accordion-body">
Projet d'implantation du terrain en 4 exemplaires à l'échelle 1/2000 ou 1/5000.
Un certificat obtenu auprès de l'Office des Immeubles (notamment 4 copies conformes) indiquant la nature, le contenu, le nom du propriétaire, les droits réels, la valeur immobilière afférente au bien et les parts de chaque copropriétaire dans le cas d'une copropriété.
(Une preuve de propriété, notamment un titre de propriété ou une copie certifiée conforme du nom de la propriété, doit être jointe au plan cadastral).
4 exemplaires du projet général/dessin illustrant les bâtiments existants.
4 exemplaires du dessin du projet de division correcte à l'échelle 1/500 ou 1/1000 s'il n'y a pas de vente de l'indivision.<br>
Demande certifiée par le propriétaire<br>
Contrat d'ingénieur topographe certifié.<br>
Remarque : (les dossiers incomplets ne sont pas acceptés).
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="fw-semibold accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
       Où est-il classé ?
      </button>
    </h2>
    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
      <div class="accordion-body">
Service d'urbanisme (guichet de réception des dossiers).<br>
Antennes communales (Tikiouine, Bensergao, Anza).<br>
Le dossier doit être déposé par le demandeur (personne physique ou morale), l'architecte en charge du projet ou le représentant légal.
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="fw-semibold accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
     Quels sont les services administratifs chargés de réaliser la procédure ?
      </button>
    </h2>
    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
      <div class="accordion-body">
Division de l'urbanisme Ihchach annexe boulevard Cheikh Saadi.
Antennes communales (Tikiouine, Bensergao, Anza).
      </div>
    </div>
  </div>

    <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="fw-semibold accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFoor" aria-expanded="false" aria-controls="panelsStayOpen-collapseFoor">
      Délai de traitement
      </button>
    </h2>
    <div id="panelsStayOpen-collapseFoor" class="accordion-collapse collapse">
      <div class="accordion-body">
Après dépôt du dossier et examen par le comité (les dossiers incomplets ne seront pas pris en compte).




      </div>
    </div>
  </div>



  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="fw-semibold accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive">
       Quels sont les services en charge de fournir le service demandé ?
      </button>
    </h2>
    <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse">
      <div class="accordion-body">
Comité chargé d'étudier les projets de grande envergure.




      </div>
    </div>
  </div>

      <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="fw-semibold accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="false" aria-controls="panelsStayOpen-collapseSix">
  Frais applicables
      </button>
    </h2>
    <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse">
      <div class="accordion-body">
Les honoraires seront déterminés conformément à la décision fiscale collective.

      </div>
    </div>
  </div>
</div>

    </div>
    <div class="col-lg-3">
    <h2>Services municipaux
</h2>
        

                  <a href="{{ base_path }}/portail/procedure_administrative/etat_civil" class="announcement-card gap-1">
                        <img src="{{ file_url('public://02.png') }}" style="height:40px" alt="img">
                        <h6 class="text-black">Etat civil</h6>     
                  </a>
        

       

                  <a href="{{ base_path }}/portail/procedure_administrative/etat_civil" class="announcement-card gap-1">
                        <img src="{{ file_url('public://005.png') }}" style="height:40px" alt="img">
                        <h6 class="text-black">Affaires Sanitaires</h6>     
                  </a>
       

       

                  <a href="{{ base_path }}/portail/procedure_administrative/police_administrative" class="announcement-card gap-1">
                        <img src="{{ file_url('public://05.png') }}" style="height:40px" alt="img">
                        <h6 class="text-black">Police administrative</h6>     
                  </a>
        

       

                  <a href="{{ base_path }}/portail/procedure_administrative/Travaux_de_construction" class="announcement-card gap-1">
                        <img src="{{ file_url('public://03.png') }}" style="height:40px" alt="img">
                        <h6 class="text-black">Travaux de construction</h6>     
                  </a>
       
    </div>
   </div>
   </div>