
{{page.topheader}}
{{page.mainheader}}
<h2 class="text-orange mb-4 text-center p-5 section-demarche">état civil</h2>

<div class="container demarch">

  <div class="row gap-4 "> <!-- row-cols-lg-4 katgoulih dli f chaque ligne dli 4 éléments -->
       <div class="col-lg-3 rounded box-etatcivil d-flex flex-column justify-content-end align-items-center">
        <a href="#">
            <img src="{{ directory }}/images/02.png" alt="">
            <h5>Attestation administrative pour le mariage</h5>        
        </a>
        </div>
       <div class="col-lg-3 rounded box-etatcivil d-flex flex-column justify-content-end align-items-center">
        <a href="#">
            <img src="{{ directory }}/images/05.png" alt="">
            <h5>Fiche individuelle</h5>        
        </a>
        </div>
       <div class="col-lg-3 rounded box-etatcivil d-flex flex-column justify-content-end align-items-center">
        <a href="#">
            <img src="{{ directory }}/images/03.png" alt="">
            <h5>Copie de l’acte de décès</h5>        
        </a>
        </div>
       <div class="col-lg-3 rounded box-etatcivil d-flex flex-column justify-content-end align-items-center">
        <a href="#">
            <img src="{{ directory }}/images/005.png" alt="">
            <h5>Copie de l’acte de naissance</h5>        
        </a>
        </div>

        
         <div class="col-lg-3 rounded box-etatcivil d-flex flex-column justify-content-end align-items-center">
          <a href="#">
            <img src="{{ directory }}/images/Immigration.png" alt="">
            <h5>Déclaration de décès

</h5>        
        </a>
        </div>
         <div class="col-lg-3 rounded box-etatcivil d-flex flex-column justify-content-end align-items-center">
          <a href="#">
            <img src="{{ directory }}/images/paper.png" alt="">
            <h5>Certification des copies conformes
</h5>        
        </a>
        </div>
         <div class="col-lg-3 rounded box-etatcivil d-flex flex-column justify-content-end align-items-center">
          <a href="#">
            <img src="{{ directory }}/images/sport.png" alt="">
            <h5>Légalisation des signatures</h5>        
        </a>
        </div>
         <div class="col-lg-3 rounded box-etatcivil d-flex flex-column justify-content-end align-items-center">
          <a href="#">
            <img src="{{ directory }}/images/xxs.png" alt="">
            <h5>Déclaration de la naissance
</h5>        
        </a>
        </div>
  </div>
</div>

{{page.footer}}
