
{{page.topheader}}
{{page.mainheader}}
<h2 class="text-orange mb-4 text-center p-5 section-demarche">Travaux de construction



</h2>

<div class="container demarch">

  <div class="row gap-3 p-2 "> <!-- row-cols-lg-4 katgoulih dli f chaque ligne dli 4 éléments -->
  
       <div class="col-lg-3 rounded box-etatcivil d-flex flex-column justify-content-end align-items-center">
        <a href="{{ base_path }}/portail/procedure_administrative/Travaux_de_construction/Autorisation%20de%20lotir%20ou%20de%20morceler">
            <img src="{{ directory }}/images/05.png" alt="">
            <h5>Autorisation de lotir ou de morceler
 </h5>        
        </a>
        </div>

      
         <div class="col-lg-3 rounded box-etatcivil d-flex flex-column justify-content-end align-items-center">
        <a href="{{ base_path }}/portail/procedure_administrative/Travaux_de_construction/Autorisation%20de%20raccord%20au%20réseau%20électrique">
            <img src="{{ directory }}/images/Immigration.png" alt="">
            <h5>Autorisation de raccord au réseau électrique


</h5>        
        </a>
        </div>

         
  </div>
</div>

{{page.footer}}
