

      <div class="sidebar title-section-padding">
          <!-- Profile Section -->
          {% for row in rows %}
          <div class="profile text-start mb-4 d-flex justify-content-center   flex-column ">
          
              <img src="{{file_url(row.content['#row']._entity.field_president_image.entity.uri.value)}}" alt="Profile" alt="Profile" class="align-self-center img-fluid rounded-circle profile-image mb-2">
            <h5 class="text-orange text-center text-xs-center text-capitalize">{{row.content['#row']._entity.field_nom_president[0].value}}</h5>
            <ul class="list-unstyled list-unstyled-mobile fw-bold lh-lg mr-5 text-right text-xs-center">
              <li><a href="{{ base_path }}/portail/president/mot-president" class="text-xs-center"><span class="font-bold text-orange">→</span> Mot du président</a></li>
            

              <li><a href="{{ base_path }}/portail/president/biographie"><span class="font-bold text-orange">→</span> Biographie</a></li>
              <li><a href="{{ base_path }}/portail/president/discours"><span class="font-bold text-orange">→</span> Discours</a></li>
            </ul>
          </div>
          {% endfor %}
        </div>