<!-- Section Provinces -->
<div class="col-lg-9">
<h2 class="text-center announcement-title prov mb-4">Provinces</h2>
<div class="row g-2">
   <div class="col-md-4">
      <a href="{{ base_path }}/portail/regions/tinghir"> <div class="province" data-aos="zoom-out" style="background-image: url('{{ directory }}/images/tinghir.png');">
         <h5>Tinghir</h5>
      </div></a>
   </div>
   <div class="col-md-4">
      <a href="{{ base_path }}/portail/regions/errachidia"><div class="province" data-aos="zoom-out" style="background-image: url('{{ directory }}/images/err.png');">
         <h5>Errachidia</h5>
      </div></a>
   </div>
   <div class="col-md-4">
      <a href="{{ base_path }}/portail/regions/ouarzazate"> <div class="province" data-aos="zoom-out" style="background-image: url('{{ directory }}/images/ouarzazate.png');">
         <h5>Ouarzazate</h5>
      </div></a>
   </div>
   <div class="col-md-6">
       <a href="{{ base_path }}/portail/regions/midelt"><div class="province" data-aos="zoom-out" style="background-image: url('{{ directory }}/images/midelt.png');">
         <h5>Midelt</h5>
      </div></a>
   </div>
   <div class="col-md-6">
      <a href="{{ base_path }}/portail/regions/zagora"><div class="province" data-aos="zoom-out" style="background-image: url('{{ directory }}/images/zagora.png');">
         <h5>Zagora</h5></a>
      </div>
   </div>
</div>
</div>
<!-- Section Annonces -->