
{{page.topheader}}
{{page.mainheader}}
<div class="container">
   <div class="row gx-0 ">
    <div class="col-lg-9">
    {{page.content}}

    </div>
    <div class="col-lg-3 mt-5 mt-md-0">
  {{ drupal_view('appel_d_offres', 'allappel') }}
    </div>
   </div>
   </div>

{{page.footer}}
