
  <!-- Slider start -->
<div class="region-setion-main">
<!-- Slider start -->
<div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <!-- Slide 1 -->
        <div class="carousel-item" style="position: relative; height:400px; overflow: hidden;" data-bs-interval="3000">
            <img src="{{ file_url('public://ouarzazate2.jpg') }}" class="d-block w-100" alt="Image 1" style="width: 100%; height: 100%; object-fit: cover; object-position: center 50%;">
            <div class="carousel-caption d-flex justify-content-center align-items-center text-center" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;">
                <h2 class="anim-typewriter" style="color: #fff; font-size: 3rem;">Ouarzazate, Destination Mythique</h2>
            </div>
        </div>

             <div class="carousel-item" style="position: relative; height:400px; overflow: hidden;" data-bs-interval="3000">
            <img src="{{ file_url('public://ourzazazte1.jpg') }}" class="d-block w-100" alt="Image 1" style="width: 100%; height: 100%; object-fit: cover; object-position: center 70%;">
            <div class="carousel-caption d-flex justify-content-center align-items-center text-center" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;">
                <h2 class="anim-typewriter" style="color: #fff; font-size: 3rem;">Ouarzazate, Destination Mythique</h2>
            </div>
        </div>


        <!-- Slide 2 -->
        <div class="carousel-item active" style="position: relative; height:400px; overflow: hidden;" data-bs-interval="3000">
            <img src="{{ file_url('public://ouarzazate3.jpg') }}" class="d-block w-100" alt="Image 2" style="width: 100%; height: 100%; object-fit: cover;">
            <div class="carousel-caption d-flex justify-content-center align-items-center text-center" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;">
                <h2 class="anim-typewriter" style="color: #fff; font-size: 3rem;">Ouarzazate, Destination Mythique</h2>
            </div>
        </div>

        <!-- Slide 3 -->
   
    </div>

    <!-- Contrôles -->
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Précédent</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Suivant</span>
    </button>
</div>
<!-- Slider end -->

  <!-- Slider end -->
<div class="container">
   <div class="row gx-2 ">
      <div class="col-lg-9 mt-4">
         <p><strong>Ouarzazate </strong> est une ville et commune — municipalité — de la province de Ouarzazate (Maroc), dont elle est le chef-lieu, dans la région Drâa Tafilalet. La ville est surnommée « la Porte du désert »</p>

         <h3 class="mt-4">Géographie</h3>
         <p>Située à 1 150 mètres d'altitude, à la confluence des oueds Dadès et Imini formant le Drâa, elle est le principal centre urbain de la vallée de ce fleuve.

La ville se situe sur le piémont sud du Haut-Atlas central, dominée à l'ouest par le massif du Toubkal et au nord-est par celui du M'goun, culminant tous deux à plus de 4000 m. Elle est au carrefour des voies la reliant au nord-ouest à Marrakech par les cols du Haut-Atlas dont le Tizi n'Tichka; à l'est au Tafilalet; au sud à la moyenne vallée du Drâa, et au delà au désert saharien; et enfin à l'ouest vers la vallée du Souss et la cote atlantique, en contournant le massif du djebel Siroua.

L’agglomération du Grand-Ouarzazate se prolonge du côté Sud de l’oued par le village de Tabount — parfois appelé « Ouarzazate-Sud » — qui fait partie, comme la kasbah de Tifoultoute, de la commune rurale de Tarmigt3.</p>

          <h3 class="mt-4">Climat</h3>
         <p>Ouarzazate bénéficie d'un climat désertique chaud (Classification de Köppen BWh) avec influence continentale. Le climat y est pré-saharien, mais avec des nuances montagnardes étant donné l'altitude. Ainsi, le climat n'y est pas aussi sec et aussi chaud que le climat saharien typique. Ouarzazate reçoit environ 112 mm de précipitations, dont la majorité tombe en automne et en hiver. En été, les températures moyennes maximales sont autour 37 °C en plein été. En revanche, les hivers sont assez froids, surtout la nuit. Les températures peuvent facilement descendre en dessous de zéro entre décembre et février, à cause de la proximité conjointe de la côte atlantique et du Haut Atlas.</p>
      

          <h3 class="mt-4">Économie</h3>
         <p>La ville de Ouarzazate connaît un essor sur les plans touristique et cinématographique. Ouarzazate possède un aéroport international et est accessible par la route depuis Marrakech (4 heures en car, 3 heures 30 en taxi) via le Tizi n'Tichka.

Le tourisme joue un rôle majeur avec plus de 400 000 nuitées hôtelière en 201414.

Le projet de la centrale solaire Noor a créé une nouvelle dynamique économique pour la ville en drainant d'importants investissements d'ici 2020</p>
      


           <h3 class="mt-4">Population</h3>
         <p>La grande majorité de la population est d'origine Chleuh rurale des contrées environnantes, comme en témoignent les langues vernaculaires utilisées, 92,7 % de berbérophones en 2014. La ville de Ouarzazate est à la frontière linguistique entre zones parlant le Tachelhit : 92,7 % parlant Tachelhit4. Seulement 10 % de la population ne parle pas l'arabe darija.

Le taux de scolarisation des enfants de 7 à 12 ans est de 98,6 %, ce qui n'a pas été le cas dans les générations plus âgées puisque 16,8 % de la population n'est pas alphabétisée, selon le recensement de 2014</p>

<h3 class="mt-4">Que manger à Ouarzazate</h3>
<p>
L’art culinaire de la province d’Ouarzazate puise dans les produits agricoles locaux et se base souvent sur les viandes. L’élevage de bétail aidant, car largement pratiqué par les nomades dans les vallées et le désert du Tafilalet</p>

 <p class="mt-2"><strong> Couscous aux sept légumes :</strong>  Décliné sous diverses formes, le couscous aux sept légumes (navet, carotte, potiron, courgette, oignons, tomates et choux verts) est le plus connu au Maroc. Préparé  pour célébrer Yennayer, le nouvel an berbère, ce plat symbolise également la rencontre et les retrouvailles. </p>
         <img src="{{ file_url('public://coscos7legumes.jpg') }}" style="height: 400px;width:400px;
            object-fit: cover;
            margin: 20px 0;
            border-radius: 3%;" alt="">
         <p class="mt-2"><strong> Tajine de poulet au citron :</strong>    Un grand classique de la cuisine marocaine, le tajine de poulet aux citrons confits et aux olives est servi très souvent dans le Sud du Royaume. Ce plat familial très simple est à la fois économique et délicieux. Il est préparé au moins une fois par semaine dans chaque foyer.   </p>
         <img src="{{ file_url('public://tagin_citron.jpeg') }}" style="height: 400px;width:400px;
            object-fit: cover;
            margin: 20px 0;
            border-radius: 3%;" alt="">
         <p class="mt-2"><strong>Tajine d’agneau aux coings et au miel :</strong>  Plat traditionnel marocain très apprécié à Ouarzazate, ce tajine allie parfaitement les saveurs du sucré salé. Lors de la saison de ce fruit de septembre à novembre, le tajine d’agneau aux coings est servi dans les maisons d’hôtes et les restaurants de la ville.    </p>
         <img src="{{ file_url('public://tagine_anyo.jpg') }}" style="height: 400px;width:400px;
            object-fit: cover;
            margin: 20px 0;
            border-radius: 3%;" alt="">
              <p class="mt-2"><strong>La Tchicha berbère  :</strong> soupe à base de semoule d’orge, la Tchicha Berbère est cuisinée avec des tomates, des oignons et relevée d’huile d’olive et de menthe sauvage. Elle est consommée dans les montagnes du Haut Atlas, particulièrement en hiver quand il fait très froid et proposée aux femmes nouvellement  accouchées pour leur apport nutritif et énergétique.  </p>
         <img src="{{ file_url('public://dchicha.webp') }}" style="height: 400px;width:400px;
            object-fit: cover;
            margin: 20px 0;
            border-radius: 3%;" alt="">
            <p class="mt-2"><strong>La Chorba aux pigeons et aux noix  :</strong> L’histoire de ce mets de luxe remonte au temps du Pacha Thami El Glaoui, seigneur de l’Atlas. La légende raconte que la table de cette dynastie devait chaque jour être garnie d’un plat qui sort de l’ordinaire. La Chorba aux pigeons et aux noix est une soupe très raffinée et extrêmement riche.    </p>
         <img src="{{ file_url('public://chorba.avif') }}" style="height: 400px;width:400px;
            object-fit: cover;
            margin: 20px 0;
            border-radius: 3%;" alt="">

                     <p class="mt-2"><strong>Baddaz :</strong> Couscous de maïs roulé à la main, ce plat traditionnel marocain originaire d’Ouarzazate s’accompagne de légumes et de gueddid (lamelles de viande de mouton salées et séchées au soleil) ou de Kordas (morceaux de panse de mouton farcis de lanières de cœur, de foie, de poumons cuits à la vapeur puis séchés au soleil). Baddaz peut aussi être accompagné de figues vertes.      </p>
         <img src="{{ file_url('public://baddaz.webp') }}" style="height: 400px;width:400px;
            object-fit: cover;
            margin: 20px 0;
            border-radius: 3%;" alt="">
     



      </div>
      <div class="col-lg-3 mt-4">
         <h3>Découvrir aussi :</h3>
         <a href="{{ base_path }}/portail/regions/tinghir" class="announcement-card gap-1">
            <img src="{{ file_url('public://tinghir.png') }}" style="height:80px;width:120px;object-fit:cover ;border-top-left-radius:10%;border-bottom-left-radius:10%;" alt="img">
            <h6 class="text-black">Tinghir</h6>
         </a>
         <a href="{{ base_path }}/portail/regions/zagora" class="announcement-card gap-1">
            <img src="{{ file_url('public://zagora.png') }}" style="height:80px;width:120px;object-fit:cover ;border-top-left-radius:10%;border-bottom-left-radius:10%;" alt="img">
            <h6 class="text-black">Zagora</h6>
         </a>
         <a href="{{ base_path }}/portail/regions/errachidia" class="announcement-card gap-1">
            <img src="{{ file_url('public://err.png') }}" style="height:80px;width:120px;object-fit:cover ;border-top-left-radius:10%;border-bottom-left-radius:10%;" alt="img">
            <h6 class="text-black">Errachidia</h6>
         </a>
         <a href="{{ base_path }}/portail/regions/ouarzazate" class="announcement-card gap-1">
            <img src="{{ file_url('public://ouarzazate.png') }}" style="height:80px;width:120px;object-fit:cover ;border-top-left-radius:10%;border-bottom-left-radius:10%;" alt="img">
            <h6 class="text-black">Ouarzazate</h6>
         </a>
            
        </div>
   </div>
</div>

</div>