<div class="container">
   <div class="row gx-1 ">
    <div class="col-lg-9">
<h2 class="fw-bold  mb-5 ">Certification des signatures</h2>

<div class="accordion" id="accordionPanelsStayOpenExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="fw-semibold accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
        Quels sont les documents requis pour la candidature ?
      </button>
    </h2>
    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
      <div class="accordion-body">
   Une copie de la carte nationale d'identité, ou du passeport, ou du permis de conduire, ou du livret d'état civil
Il est obligatoire de se présenter en personne pour signer les registres
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="fw-semibold accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
       Où est-il classé ?
      </button>
    </h2>
    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
      <div class="accordion-body">
Les bureaux de certification Signature
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="fw-semibold accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
     Quels sont les services administratifs chargés de réaliser la procédure ?
      </button>
    </h2>
    <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
      <div class="accordion-body">
Les bureaux de certification Signature
      </div>
    </div>
  </div>

    <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="fw-semibold accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFoor" aria-expanded="false" aria-controls="panelsStayOpen-collapseFoor">
      Délai de traitement
      </button>
    </h2>
    <div id="panelsStayOpen-collapseFoor" class="accordion-collapse collapse">
      <div class="accordion-body">
Le même jour
      </div>
    </div>
  </div>



  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="fw-semibold accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive">
       Quels sont les services en charge de fournir le service demandé ?
      </button>
    </h2>
    <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse">
      <div class="accordion-body">
 Les bureaux de certification Signature
      </div>
    </div>
  </div>

      <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="fw-semibold accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="false" aria-controls="panelsStayOpen-collapseSix">
  Frais applicables
      </button>
    </h2>
    <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse">
      <div class="accordion-body">
2 Dirhams pour chaque signature
      </div>
    </div>
  </div>
</div>

    </div>
    <div class="col-lg-3">
    <h2>Services municipaux
</h2>
        

                  <a href="{{ base_path }}/portail/procedure_administrative/etat_civil" class="announcement-card gap-1">
                        <img src="{{ file_url('public://02.png') }}" style="height:40px" alt="img">
                        <h6 class="text-black">Etat civil</h6>     
                  </a>
        

       

                  <a href="{{ base_path }}/portail/procedure_administrative/etat_civil" class="announcement-card gap-1">
                        <img src="{{ file_url('public://005.png') }}" style="height:40px" alt="img">
                        <h6 class="text-black">Affaires Sanitaires</h6>     
                  </a>
       

       

                  <a href="{{ base_path }}/portail/procedure_administrative/etat_civil" class="announcement-card gap-1">
                        <img src="{{ file_url('public://05.png') }}" style="height:40px" alt="img">
                        <h6 class="text-black">Police administrative</h6>     
                  </a>
        

       

                  <a href="{{ base_path }}/portail/procedure_administrative/etat_civil" class="announcement-card gap-1">
                        <img src="{{ file_url('public://03.png') }}" style="height:40px" alt="img">
                        <h6 class="text-black">Travaux de construction</h6>     
                  </a>
       
    </div>
   </div>
   </div>