
  <!-- Slider start -->
<div class="region-setion-main">
<!-- Slider start -->
<div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <!-- Slide 1 -->
        <div class="carousel-item" style="position: relative; height:400px; overflow: hidden;" data-bs-interval="3000">
            <img src="{{ file_url('public://midelt222.jpg') }}" class="d-block w-100" alt="Image 1" style="width: 100%; height: 100%; object-fit: cover; object-position: center 50%;">
            <div class="carousel-caption d-flex justify-content-center align-items-center text-center" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;">
                <h2 class="anim-typewriter" style="color: #fff; font-size: 3rem;">Midelt, Destination Mythique</h2>
            </div>
        </div>

             <div class="carousel-item" style="position: relative; height:400px; overflow: hidden;" data-bs-interval="3000">
            <img src="{{ file_url('public://midelt111.jpg') }}" class="d-block w-100" alt="Image 1" style="width: 100%; height: 100%; object-fit: cover; object-position: center 70%;">
            <div class="carousel-caption d-flex justify-content-center align-items-center text-center" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;">
                <h2 class="anim-typewriter" style="color: #fff; font-size: 3rem;">Midelt, Destination Mythique</h2>
            </div>
        </div>


        <!-- Slide 2 -->
        <div class="carousel-item active" style="position: relative; height:400px; overflow: hidden;" data-bs-interval="3000">
            <img src="{{ file_url('public://midelt333.jpg') }}" class="d-block w-100" alt="Image 2" style="width: 100%; height: 100%; object-fit: cover;">
            <div class="carousel-caption d-flex justify-content-center align-items-center text-center" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;">
                <h2 class="anim-typewriter" style="color: #fff; font-size: 3rem;">Midelt, Destination Mythique</h2>
            </div>
        </div>

        <!-- Slide 3 -->
   
    </div>

    <!-- Contrôles -->
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Précédent</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Suivant</span>
    </button>
</div>
<!-- Slider end -->

  <!-- Slider end -->
<div class="container">
   <div class="row gx-2 ">
      <div class="col-lg-9 mt-4">
         <p><strong>Midelt </strong> est une ville du Maroc, à la jonction des chaînes du Moyen Atlas et du Haut Atlas oriental, et une commune urbaine de la province de Midelt. La population de la commune, de 44 781 habitants en 2004 (recensement), serait de 55 400 habitants en 2012 (estimation).</p>

         <h3 class="mt-4">Histoire</h3>
         <p>La ville de Midelt située à 1 521 mètres d’altitude, a été fondée par le protectorat en 1917 pour en faire un centre administratif de la région. Cette région est regroupée sous le nom de « Cercle de Midelt », cercle qui couvre une superficie de 6 000 km2 et dont les principaux centres sont : Itzer, Zaida, Boumia, Aghbalou, Tounfite, Ksabi, Bouayach, Krouchen, Mibladen, Ahouli. En dehors de ces centres urbains, le reste de la population habite les Igharman (dénommés ksours, douar, dchar, selon les régions et la langue) qui couvrent toute la région dans des espaces très rapprochés les uns des autres.</p>

          <h3 class="mt-4">Climat</h3>
         <p>Située à 1 521 m d'altitude dans l'Atlas, Midelt possède un climat méditerranéen à influence montagnarde avec souvent de la neige en hiver. À cette altitude, la végétation montagnarde (sapins, cèdres) cohabite avec la végétation méditerranéenne (chêne, olivier, dattier etc.).

L'amplitude thermique annuelle est élevée et atteint 20,9 °C entre le mois le plus froid et le mois le plus chaud.</p>
      
          

<h3 class="mt-4">Que manger à midelt</h3>
<p>
L’art culinaire de la province d’midelt puise dans les produits agricoles locaux et se base souvent sur les viandes. L’élevage de bétail aidant, car largement pratiqué par les nomades dans les vallées et le désert du Tafilalet</p>

 <p class="mt-2"><strong> Tajine de viande de chèvre aux pommes confites:</strong>  cette spécialité de la province de Midelt est préparée à base d’une pomme verte assez acide abondante dans la région. Ce tajine est servi dans les maisons d’hôtes et chez l’habitant de la province. </p>
         <img src="{{ file_url('public://tagine_viande.jpeg') }}" style="height: 400px;width:400px;
            object-fit: cover;
            margin: 20px 0;
            border-radius: 3%;" alt="">
         <p class="mt-2"><strong> Pain Abadir :</strong>    Ce grand pain d’un mètre de diamètre sans levure qu’on retrouve spécifiquement à Imilchil est cuit sur des cailloux chauffés et dépourvus de cendres. Il est ensuite recouvert de cendre et de plantes (armoise) qui brûlent pendant une heure. La même opération est renouvelée de l’autre face. Ce pain peut se conserver jusqu’à une semaine et nourrir 40 personnes.  </p>
         <img src="{{ file_url('public://abadiiir.jpg') }}" style="height: 400px;width:400px;
            object-fit: cover;
            margin: 20px 0;
            border-radius: 3%;" alt="">
         <p class="mt-2"><strong>Couscous de blé tendre  :</strong>  ce couscous préparé à base de semoule de blé tendre est originaire de Midelt mais aussi des oasis de Tafilalet (Boutenfite, Tizgaghine et Tighfert). Il faut le cuire à la vapeur au moins deux fois vingt minutes, l’associer aux légumineuses, à la viande et aux légumes. Il peut aussi être consommé seul, aromatisé ou nature, chaud ou froid.   </p>
         <img src="{{ file_url('public://couscouss.jpg') }}" style="height: 400px;width:400px;
            object-fit: cover;
            margin: 20px 0;
            border-radius: 3%;" alt="">
              <p class="mt-2"><strong>Tajine de truite  :</strong> originaire de Midelt, ce tajine préparé à base de truite de l’Atlas accompagné de pommes de terre, de poivrons, de tomates, d’olives et de quartiers de citron ou peut-être seulement accompagné d’oignons, de raisins et de fruits secs et légèrement adouci au miel.  </p>
         <img src="{{ file_url('public://tajine-truite-pommes-de-terre.jpg') }}" style="height: 400px;width:400px;
            object-fit: cover;
            margin: 20px 0;
            border-radius: 3%;" alt="">
     



      </div>
      <div class="col-lg-3 mt-4">
         <h3>Découvrir aussi :</h3>
         <a href="{{ base_path }}/portail/regions/tinghir" class="announcement-card gap-1">
            <img src="{{ file_url('public://tinghir.png') }}" style="height:80px;width:120px;object-fit:cover ;border-top-left-radius:10%;border-bottom-left-radius:10%;" alt="img">
            <h6 class="text-black">Tinghir</h6>
         </a>
         <a href="{{ base_path }}/portail/regions/zagora" class="announcement-card gap-1">
            <img src="{{ file_url('public://zagora.png') }}" style="height:80px;width:120px;object-fit:cover ;border-top-left-radius:10%;border-bottom-left-radius:10%;" alt="img">
            <h6 class="text-black">Zagora</h6>
         </a>
         <a href="{{ base_path }}/portail/regions/errachidia" class="announcement-card gap-1">
            <img src="{{ file_url('public://err.png') }}" style="height:80px;width:120px;object-fit:cover ;border-top-left-radius:10%;border-bottom-left-radius:10%;" alt="img">
            <h6 class="text-black">Errachidia</h6>
         </a>
         <a href="{{ base_path }}/portail/regions/ouarzazate" class="announcement-card gap-1">
            <img src="{{ file_url('public://ouarzazate.png') }}" style="height:80px;width:120px;object-fit:cover ;border-top-left-radius:10%;border-bottom-left-radius:10%;" alt="img">
            <h6 class="text-black">Ouarzazate</h6>
         </a>
            
        </div>
   </div>
</div>

</div>