
{{page.topheader}}
{{page.mainheader}}
<h2 class="text-orange mb-4 text-center p-5 section-demarche">Police administrative

</h2>

<div class="container demarch">

  <div class="row gap-3 p-2 "> <!-- row-cols-lg-4 katgoulih dli f chaque ligne dli 4 éléments -->
  
       <div class="col-lg-3 rounded box-etatcivil d-flex flex-column justify-content-end align-items-center">
        <a href="{{ base_path }}/portail/procedure_administrative/police_administrative/Autorisation%20de%20gestion%20déléguée%20des%20services%20funéraires%20et%20des%20ambulances%20musulmans%20et%20non%20musulmans">
            <img src="{{ directory }}/images/05.png" alt="">
            <h5>Autorisation de la gestion déléguée des services funéraires musulmans </h5>        
        </a>
        </div>



        
         <div class="col-lg-3 rounded box-etatcivil d-flex flex-column justify-content-end align-items-center">
        <a href="{{ base_path }}/portail/procedure_administrative/police_administrative/Attestation%20d’utilisation%20d’un%20véhicule%20comme%20Taxi%2C%20actuellement%20ou%20dans%20le%20passé">
            <img src="{{ directory }}/images/Immigration.png" alt="">
            <h5>Attestation d’utilisation d’un véhicule comme Taxi, actuellement ou dans le passé...

</h5>        
        </a>
        </div>

         
  </div>
</div>

{{page.footer}}
