
  <!-- Slider start -->
<div class="region-setion-main">
<!-- Slider start -->
<div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <!-- Slide 1 -->
        <div class="carousel-item" style="position: relative; height:400px; overflow: hidden;" data-bs-interval="3000">
            <img src="{{ file_url('public://zagora4.jpg') }}" class="d-block w-100" alt="Image 1" style="width: 100%; height: 100%; object-fit: cover; object-position: center 30%;">
            <div class="carousel-caption d-flex justify-content-center align-items-center text-center" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;">
                <h2 class="anim-typewriter" style="color: #fff; font-size: 3rem;">Zagora, Destination Mythique</h2>
            </div>
        </div>

             <div class="carousel-item" style="position: relative; height:400px; overflow: hidden;" data-bs-interval="3000">
            <img src="{{ file_url('public://zagora1.jpg') }}" class="d-block w-100" alt="Image 1" style="width: 100%; height: 100%; object-fit: cover; object-position: center 50%;">
            <div class="carousel-caption d-flex justify-content-center align-items-center text-center" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;">
                <h2 class="anim-typewriter" style="color: #fff; font-size: 3rem;">Zagora, Destination Mythique</h2>
            </div>
        </div>


        <!-- Slide 2 -->
        <div class="carousel-item active" style="position: relative; height:400px; overflow: hidden;" data-bs-interval="3000">
            <img src="{{ file_url('public://zagora2.jpg') }}" class="d-block w-100" alt="Image 2" style="width: 100%; height: 100%; object-fit: cover;">
            <div class="carousel-caption d-flex justify-content-center align-items-center text-center" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;">
                <h2 class="anim-typewriter" style="color: #fff; font-size: 3rem;">Zagora, Destination Mythique</h2>
            </div>
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item" style="position: relative; height:400px; overflow: hidden;" data-bs-interval="3000">
            <img src="{{ file_url('public://zagora3.jpg') }}" class="d-block w-100" alt="Image 3" style="width: 100%; height: 100%; object-fit: cover;object-position: center 25%;">
            <div class="carousel-caption d-flex justify-content-center align-items-center text-center" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;">
                <h2 class="anim-typewriter" style="color: #fff; font-size: 3rem;">Zagora, Destination Mythique</h2>
            </div>
        </div>
    </div>

    <!-- Contrôles -->
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Précédent</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Suivant</span>
    </button>
</div>
<!-- Slider end -->

  <!-- Slider end -->
<div class="container">
   <div class="row gx-2 ">
      <div class="col-lg-9 mt-4">
         <p><strong>Zagora</strong> ( Tazagourt en berbère) est une ville du Maroc située dans la région de Drâa-Tafilalet . La ville nouvelle de Zagora date du protectorat français dont elle était un des centres administratifs. Toutefois, l'oasis chef lieu de la région du Drâa était habitée depuis bien plus longtemps, puisque c'est de là qu'est partie l'expédition des Saadiens, dynastie de l'Empire chérifien, vers Tombouctou en 1591.</p>

         <h3 class="mt-4">Histoire</h3>
         <p>L'histoire de la région remonte aux temps immémoriaux, comme en témoignent les gravures rupestres à Foum Chena et à Tazarine et la nécropole géante de Foum Larjam à lghir N'tidri à M'hamid El Ghizlane.

Au début du XIVe siècle, les Chorafas Saadiens, venus du Moyen Orient, se sont installés à Tagmadart. Au XVIe siècle, ils partirent à la conquête du Souss et du nord du Maroc, avant de réaliser celle du pays du Soudan occidental par la célèbre route de Tombouctou. Cette grande expédition a assuré la prospérité commerciale et culturelle du Maroc.

Sous le règne de la Dynastie Alaouite, la région s'est vu accorder un intérêt particulier depuis sa libération par le Grand Sultan My Mohamed Ben Chérif au XVIIe siècle et plus particulièrement sous le règne du grand et célèbre My Ismail. Son fils Chérif Ben Ismail se rendit à Aghlan de Beni Zoli, où il installa le Siège de son autorité (wilaya de Dra Sijilmassa), le Roi vaillant s'appuyait également sur la Zaouia Naciria pour la diffusion du savoir dans les pays africains limitrophes.

Cette Zaouia est dotée d'une riche bibliothèque qui recèle de précieux manuscrits de théologie, d'histoire, de médecine (le plus ancien manuscrit daté du XIIIe siècle).

Après la mort de My Ismail en 1727, la région a connu des périodes d'instabilité mais restait toujours fidèle au Trône Alaouite1.</p>

          <h3 class="mt-4">Tourisme</h3>
         <p>Un panneau, au centre de la ville, indique Tombouctou 52 jours (alors qu'il en a fallu 135 à l'armée saadienne pour y parvenir).

Zagora est dominée par le djebel Zagora, et possède une vaste palmeraie. Elle est le point de départ de nombreuses randonnées vers d'innombrables oasis de la vallée du Drâa et vers le désert du Sahara . Elle est également connue pour ses nombreuses kasbah.

Le souk hebdomadaire (le dimanche) est le lieu de rencontre des habitants des différents villages en amont de la ville (Beni Zouli, Tazarine, Tafroudest, Oulad El Haj) et en aval (Beni Khellouf, etc.), avec un marché aux légumes et un grand marché aux bestiaux.

Le Marathon de Zagora a lieu chaque année le 31 décembre., une course à travers la ville et la palmeraie.

La région de Zagora est une des régions les plus touristiques du pays avec sa vallée du Draa et le désert de l'Erg Chegaga.

De nombreuses activités sont à faire dans la région de Zagora :

- la visite des kasbah et notamment :

* la kasbah d'Amezrou et sa coopérative artisanale

* le ksar de Tissergate ainsi que le Musée des Arts et Traditions de la Vallée du Draa

- la visite de Tamegroute et des ateliers de poteries

- la vallée du Draa et la palmeraie de Zagora et ses nombreux petits villages

- le désert du Sahara (Tinfou, Erg Smar, Erg Zahar, Erg Chegaga, ...)</p>
      
          

<h3 class="mt-4">Que manger à zagora</h3>
<p>
L’art culinaire de la province d’zagora puise dans les produits agricoles locaux et se base souvent sur les viandes. L’élevage de bétail aidant, car largement pratiqué par les nomades dans les vallées et le désert du Tafilalet</p>

 <p class="mt-2"><strong> Le lait de chamelle :</strong>   Ce lait a une particularité étonnante. En plus de ses bienfaits et de ses vertus nourrissantes (super aliment riche en protéines et en vitamines C, fer…), il est sucré et s’adapte parfaitement aux asthmatiques s’il provient d’une chamelle âgée d’un an. </p>
         <img src="{{ file_url('public://lait_de_chamelle.jpg') }}" style="height: 400px;width:400px;
            object-fit: cover;
            margin: 20px 0;
            border-radius: 3%;" alt="">
         <p class="mt-2"><strong> Sirop de datte :</strong>    appelé Erroub par les nomades, il est fabriqué à base de dattes qu’on cuit longtemps dans un récipient avec de l’eau jusqu’à obtenir un liquide. Il est ensuite égoutté pour enlever le reste de grumeaux. À la base, ce produit est une création purement nomade devenue célèbre après sa production dans les coopératives de la région. Le sirop de datte est consommé avec du pain.   </p>
         <img src="{{ file_url('public://sirop.jpeg') }}" style="height: 400px;width:400px;
            object-fit: cover;
            margin: 20px 0;
            border-radius: 3%;" alt="">
         <p class="mt-2"><strong>La Klila  :</strong> Ce mets des nomades est préparé à partir de surplus de petit lait de chamelle. Après ébullition, le lait est égoutté et le reste est récupéré. Après refroidissement, les nomades mélangent les morceaux restants à des dattes dures et concassées.  </p>
         <img src="{{ file_url('public://klila.jpg') }}" style="height: 400px;width:400px;
            object-fit: cover;
            margin: 20px 0;
            border-radius: 3%;" alt="">
              <p class="mt-2"><strong>Les pigeons farcis  :</strong> c’est l’un des plats les plus demandés par les visiteurs de la région Drâa Tafilalet notamment à Zagora, province d’origine de ce plat raffiné. Ces pigeons farcis à la viande ou aux légumes et cheveux d’ange nécessitent un temps de préparation assez long. </p>
         <img src="{{ file_url('public://piegon.jpeg') }}" style="height: 400px;width:400px;
            object-fit: cover;
            margin: 20px 0;
            border-radius: 3%;" alt="">
      <p class="mt-2"><strong>Aghroum Ntoudount ou Pain à la graisse de dromadaire ou à la graisse de rognons de bœuf   :</strong> ce pain est badigeonné d’un mélange de graisse de dromadaire (camélidé le plus fréquent dans la région) ou de graisse de rognons de bœuf. On y ajoute d’autres ingrédients tels que les poivrons, les oignons et les épices, consommés le matin au petit déjeuner.   </p>
         <img src="{{ file_url('public://aghrom.jpeg') }}" style="height: 400px;width:400px;
            object-fit: cover;
            margin: 20px 0;
            border-radius: 3%;" alt="">
          <p class="mt-2"><strong>Tajine de dromadaire aux dattes  :</strong>  ce plat de fête originaire de Zagora est disponible dans les zones désertiques plus en été qu’en hiver poussé par une demande plus forte et un abattage plus fréquent. Un mâle de dromadaire peut donner jusqu’à 200 kg de viande préparée au moment de l’abattage, car impossible à conserver au congélateur.  </p>
         <img src="{{ file_url('public://tagine_date.jpg') }}" style="height: 400px;width:400px;
            object-fit: cover;
            margin: 20px 0;
            border-radius: 3%;" alt="">



      </div>
      <div class="col-lg-3 mt-4">
         <h3>Découvrir aussi :</h3>
         <a href="{{ base_path }}/portail/regions/tinghir" class="announcement-card gap-1">
            <img src="{{ file_url('public://tinghir.png') }}" style="height:80px;width:120px;object-fit:cover ;border-top-left-radius:10%;border-bottom-left-radius:10%;" alt="img">
            <h6 class="text-black">Tinghir</h6>
         </a>
         <a href="{{ base_path }}/portail/regions/midelt" class="announcement-card gap-1">
            <img src="{{ file_url('public://midelt.png') }}" style="height:80px;width:120px;object-fit:cover ;border-top-left-radius:10%;border-bottom-left-radius:10%;" alt="img">
            <h6 class="text-black">Midelt</h6>
         </a>
         <a href="{{ base_path }}/portail/regions/errachidia" class="announcement-card gap-1">
            <img src="{{ file_url('public://err.png') }}" style="height:80px;width:120px;object-fit:cover ;border-top-left-radius:10%;border-bottom-left-radius:10%;" alt="img">
            <h6 class="text-black">Errachidia</h6>
         </a>
         <a href="{{ base_path }}/portail/regions/ouarzazate" class="announcement-card gap-1">
            <img src="{{ file_url('public://ouarzazate.png') }}" style="height:80px;width:120px;object-fit:cover ;border-top-left-radius:10%;border-bottom-left-radius:10%;" alt="img">
            <h6 class="text-black">Ouarzazate</h6>
         </a>
             <div class="w-100">
            <img src="{{ file_url('public://zagora-Interactive-Map.svg') }}" alt="" style=" height: 100%; object-fit: cover; object-position: center 80%;     width: -webkit-fill-available;">
     </div>
        </div>
   </div>
</div>

</div>