
  <!-- Slider start -->
<div class="region-setion-main">
<!-- Slider start -->
<div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <!-- Slide 1 -->
        <div class="carousel-item" style="position: relative; height:400px; overflow: hidden;" data-bs-interval="3000">
            <img src="{{ file_url('public://Tinghir4.jpg') }}" class="d-block w-100" alt="Image 1" style="width: 100%; height: 100%; object-fit: cover; object-position: center 13%;">
            <div class="carousel-caption d-flex justify-content-center align-items-center text-center" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;">
                <h2 class="anim-typewriter" style="color: #fff; font-size: 3rem;">Tinghir, Destination Mythique</h2>
            </div>
        </div>

             <div class="carousel-item" style="position: relative; height:400px; overflow: hidden;" data-bs-interval="3000">
            <img src="{{ file_url('public://Tinghir5.jpg') }}" class="d-block w-100" alt="Image 1" style="width: 100%; height: 100%; object-fit: cover; object-position: center 50%;">
            <div class="carousel-caption d-flex justify-content-center align-items-center text-center" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;">
                <h2 class="anim-typewriter" style="color: #fff; font-size: 3rem;">Tinghir, Destination Mythique</h2>
            </div>
        </div>


        <!-- Slide 2 -->
        <div class="carousel-item active" style="position: relative; height:400px; overflow: hidden;" data-bs-interval="3000">
            <img src="{{ file_url('public://Tinghir2.jpg') }}" class="d-block w-100" alt="Image 2" style="width: 100%; height: 100%; object-fit: cover;">
            <div class="carousel-caption d-flex justify-content-center align-items-center text-center" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;">
                <h2 class="anim-typewriter" style="color: #fff; font-size: 3rem;">Tinghir, Destination Mythique</h2>
            </div>
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item" style="position: relative; height:400px; overflow: hidden;" data-bs-interval="3000">
            <img src="{{ file_url('public://Tinghir3.jpg') }}" class="d-block w-100" alt="Image 3" style="width: 100%; height: 100%; object-fit: cover;">
            <div class="carousel-caption d-flex justify-content-center align-items-center text-center" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;">
                <h2 class="anim-typewriter" style="color: #fff; font-size: 3rem;">Tinghir, Destination Mythique</h2>
            </div>
        </div>
    </div>

    <!-- Contrôles -->
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Précédent</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Suivant</span>
    </button>
</div>
<!-- Slider end -->

  <!-- Slider end -->
<div class="container">
   <div class="row gx-2 ">
      <div class="col-lg-9 mt-4">
         <p><strong>Tinghir</strong> (en Amazigh : ⵜⵉⵏⵖⵉⵔ Tinɣir) est une ville Amazigh du Haut Atlas oriental.

Elle est le chef-lieu de la province de Tineghir depuis la création de cette dernière, en 2009, et faisait auparavant partie de la province de Ouarzazate. Son nom vient de l'Amazigh tin ghir, le lieu (tin) de la montagne (ighir, épaule ou crête). La ville proprement dite (municipalité de Tinghir) compte 42 044 habitants tandis que l’oasis dans son ensemble totalise 80 212 habitants selon le recensement de 2004. Tineghir, tout comme sa région, est peuplée essentiellement de population Amazigh.</p>

         <h3 class="mt-4">Géographie</h3>
         <p><strong>Tinghir</strong> est située entre les montagnes du Haut Atlas et celles de l'Anti Atlas, elle est perchée à plus de 1 300 m d'altitude avec des pics pouvant atteindre 3 000 m d'altitude au nord.

Au sortir des gorges du Todgha, l’Assif du même nom se fraie difficilement un passage sur les pentes sud du Haut Atlas (à Tizguine), puis débouche dans la grande plaine reliant la région de Ouarzazate au Tafilalet pour serpenter sur une vingtaine de kilomètres jusqu’à l'oued Ferkla.

La palmeraie de Todgha, très dense et très étendue, se compose uniquement des deux rives de l’assif Todgha ; elle est irriguée par un réseau de canalisations appelées en Amazigh tirgwin (sg targa). Absorbée par un grand nombre de ces canaux d’irrigation, l’eau n’arrive généralement pas jusqu’au Ferkla, affluent du Ghéris, sauf lors de fortes crues.</p>

          <h3 class="mt-4">Économie</h3>
         <p>L'économie de la ville repose sur le secteur du commerce profitant de sa situation géographique qui en fait un carrefour entre les chefs-lieux (Aït Vallée du Toudra au centre), et les villages avoisinants Aït Atta. Tinghir est ainsi devenu un grand centre commercial où les échanges commerciaux de différents produits (surtout de première consommation) s'effectuent quotidiennement et à l'occasion des grandes fêtes et moussems. L'économie de Tineghir repose en deuxième lieu sur les activités touristiques. En effet, Tineghir jouit d'une luxuriante nature composée d'une vaste oasis de palmiers et d'oliviers et de gorges au nord (grandes saillies dans les montagnes du Haut-Atlas) et aussi de monuments historiques dont de vieilles casbahs et ksours. En troisième lieu, les résidents à l'étranger de la population de Tinghir (la France, la Belgique, l'Espagne, les Pays-Bas...) injectent périodiquement des devises dans les nerfs de l'économie locale. Le rôle du secteur agricole se minimise de plus en plus et perd sa place de première activité exercée au passé à cause de son caractère archaïque ne répondant plus aux besoins des populations et à cause surtout de la limite des terres cultivées.

Le secteur industriel est presque absent, hormis quelques activités artisanales : ferronnerie, menuiserie, tôlerie... Tineghir accueille aussi une activité minière dans la Mine d'argent d'Imiter mais qui n'apporte pas de contribution réelle dans l'économie locale et ne constitue pas un facteur réel de développement puisque l'activité est limitée à l'extraction du minerai et à son exportation par une société appartenant au holding royal qui n'a pas d'autre activité à Tineghir.</p>
      
            <h3 class="mt-4">Activités socio-culturelles</h3>

            <p>Des activités socio-culturelles connaissent une forte croissance depuis ces cinq dernières années, des projets visant le divertissement des jeunes enfants se multiplient dans un grand nombre de villages de la ville, et également des projets d'alphabétisation visant les adultes et notamment les femmes, se mettent en place. Ces projets sont appuyés par un grand nombre d'associations sur place et à l'étranger (ATD [archive], GTF, APS, Atlassolidarité, Askter [archive], amazan paris (www.amazan.fr) et beaucoup d'autres).

De plus en matière d'activités socio-culturelles, un premier festival des Gorges de Tineghir qui a eu lieu été 2010. En juillet 2010, Rouicha est invité à chanter pour inaugurer le premier grand festival des Gorges de Tineghir qui a eu lieu le 28, 29 et 30 juillet dans la commune de Tineghir (province de Tineghir). Un rendez-vous qui lui tient très à cœur dans la mesure où sa mère est originaire de cette commune de plusieurs dizaines de milliers d'habitants.

En effet, avant même de commencer à jouer "loutar" il n'oublie surtout pas de le rappeler avec cette phrase: "mimiss n'moulay Lahcen, mimiss n'lala Aicha iliss n'moulay Hanafi oult tdoght." littéralement traduit: "Fils de Moulay Lahcen, fils de Lala Aicha fille de Moulay Hanafi originaire de Toudgha", une phrase qui rappelle que l'artiste ne fait que revenir aux sources pour jouer dans la région dont sa mère est originaire à savoir la vallée du Toudgha.</p>




<h3 class="mt-4">Que manger à Tinghir</h3>
<p>
L’art culinaire de la province d’Tinghir puise dans les produits agricoles locaux et se base souvent sur les viandes. L’élevage de bétail aidant, car largement pratiqué par les nomades dans les vallées et le désert du Tafilalet</p>

 <p class="mt-2"><strong> TAJINE TERFAS :</strong>  Zoubaïdi ou ezzabdi ou encore terfess ou terfez, ce rare champignon du désert, poussant par endroits au Maroc, notamment au sud-est et au Sahara, très prisé, est assimilé à l’or blanc. Poussant entre Novembre et Avril et récolté entre Mars et Mai, constitue un ingrédient de choix, pour la composition du Tajine Terfas de Tinghir</p>
         <img src="{{ file_url('public://terfasse.jpg') }}" style="height: 400px;width:400px;
            object-fit: cover;
            margin: 20px 0;
            border-radius: 3%;" alt="">
         <p class="mt-2"><strong>IFNOUZEN  :</strong> « Ifnouzen » ou « le couscous à la luzerne », est une spécialité gastronomique amazighe ancestrale, appréciée tant par les habitants des régions sud du Maroc, que par ses visiteurs, réputée comme un plat hivernal par excellence. </p>
         <img src="{{ file_url('public://ifnozn.jpg') }}" style="height: 400px;width:400px;
            object-fit: cover;
            margin: 20px 0;
            border-radius: 3%;" alt="">


      </div>
      <div class="col-lg-3 mt-4">
         <h3>Découvrir aussi :</h3>
         <a href="{{ base_path }}/portail/regions/zagora" class="announcement-card gap-1">
            <img src="{{ file_url('public://zagora.png') }}" style="height:80px;width:120px;object-fit:cover ;border-top-left-radius:10%;border-bottom-left-radius:10%;" alt="img">
            <h6 class="text-black">Zagora</h6>
         </a>
         <a href="{{ base_path }}/portail/regions/midelt" class="announcement-card gap-1">
            <img src="{{ file_url('public://midelt.png') }}" style="height:80px;width:120px;object-fit:cover ;border-top-left-radius:10%;border-bottom-left-radius:10%;" alt="img">
            <h6 class="text-black">Midelt</h6>
         </a>
         <a href="{{ base_path }}/portail/regions/errachidia" class="announcement-card gap-1">
            <img src="{{ file_url('public://err.png') }}" style="height:80px;width:120px;object-fit:cover ;border-top-left-radius:10%;border-bottom-left-radius:10%;" alt="img">
            <h6 class="text-black">Errachidia</h6>
         </a>
         <a href="{{ base_path }}/portail/regions/ouarzazate" class="announcement-card gap-1">
            <img src="{{ file_url('public://ouarzazate.png') }}" style="height:80px;width:120px;object-fit:cover ;border-top-left-radius:10%;border-bottom-left-radius:10%;" alt="img">
            <h6 class="text-black">Ouarzazate</h6>
         </a>
             <div class="w-100">
            <img src="{{ file_url('public://Tinghir-Interactive-Map.svg') }}" alt="" style=" height: 100%; object-fit: cover; object-position: center 80%;     width: -webkit-fill-available;">
     </div>
        </div>
   </div>
</div>

</div>